/* Estilo geral */
html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Garante que a altura seja de no mínimo 100% da viewport */
    background: linear-gradient(135deg, #400000, #b30000); /* Degradê vermelho e preto */
    background-attachment: fixed; /* Fixa o fundo na tela */
    font-family: Arial, sans-serif;
    color: #fff; /* Texto branco */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cabeçalho */
header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #b30000; /* Vermelho escuro */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

/* Container do formulário */
form {
    background-color: rgba(0, 0, 0, 0.85); /* Fundo preto translúcido */
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8); /* Sombra marcante */
}

/* Campos de entrada */
form input {
    width: 92%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 2px solid #b30000; /* Vermelho escuro */
    border-radius: 5px;
    background-color: #1a1a1a; /* Cinza escuro */
    color: white;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

form input:focus {
    border-color: #ff4747; /* Vermelho vibrante no foco */
    box-shadow: 0 0 10px rgba(255, 71, 71, 0.7);
    outline: none;
}

/* Botão */
form button {
    width: 100%;
    padding: 12px;
    background-color: #b30000; /* Vermelho escuro */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

form button:hover {
    background-color: #ff4747; /* Vermelho vibrante no hover */
    transform: scale(1.05); /* Leve aumento */
}
